div.create-wrapper {
    height: 96vh;
    background-image: linear-gradient(to right, #00ccff, #6ee2ff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.form-info {
    background-color: #3b3b3b66;
    border-radius: 10px;
    padding: 50px 60px;
    color: #fff;
    width: 400px;
    border: 0;
}

div.form-info .input-wrapper {
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #98e203;
}

div.form-info form input {
    height: 40px;
    width: 85%;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    float: right;
    padding-left: 10px;
    font-size: 1rem;
}

div.form-info form .ta-wrapper {
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #98e203;
}

i.fa-pencil-alt {
    margin-top: 40px;
    transform: rotate(-90deg);
}

div.form-info form textarea {
    width: 85%;
    height: 100%;
    outline: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #cecbcb;
    float: right;
    padding: 10px 10px 0;
    padding-left: 10px;
    font-size: 1rem;
}

div.form-info h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-icons {
    color: #fff;
    float: left;
    text-align: center;
    font-size: 1.4rem;
    position: relative;
    left: 10px;
    top: 8px;
}

h1 span.green {
    color: #98e203;
}

h1 span.blue {
    color: #03ccf0;
}

.input-wrapper {
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-color: #a7a7a7;
}

div.form-info button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color, ease-in, 0.5s;
    margin: 20px 0 10px 0;
    outline: none;
}

div.form-info button:hover {
    background-color: #fff;
    color: #98e203;
}

div.nav {
    background-image: linear-gradient(to right, #00ccff, #6ee2ff);
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 0;
    height: 4vh;
}

.fa-home {
    color: #fff;
    transition: color, ease-in, .7s;
}

.fa-home:hover {
    color: #98e203;
}

.create-logout {
    font-size: 1.2rem;
    color: #fff;
    transition: color, ease-in, .7s;
}

.create-logout:hover {
    color: #caff61;
}

div.color-picker {
    display: flex;
    border: 1px solid red;
}