    <link rel="stylesheet" type="text/css" href="<%= url("/css/signup_styles.css") %>"/>
</head>
<body>

<div class="wrapper">
    
    <div class="form-info">
        <h1><a href="/"><span class="green">GUMMY</span> <span class="blue">NOTES</span></a></h1>
        <h1>Get Sticking!</h1>
        <form class="signup-form" action="/signup" method="POST">
            
            <fieldset class="input-wrapper">
                <i class="fas fa-signature form-icons"></i>
                <input id="name" type="text" name="name" placeholder="Full Name" required>
            </fieldset><br>
            
            <fieldset class="input-wrapper">
                <i class="fas fa-user form-icons"></i>
                <input id="username" type="text" name="username" placeholder="Create Username" required>
            </fieldset><br>

            <fieldset class="input-wrapper">
                <i class="fas fa-envelope form-icons"></i>
                <input id="email" type="text" name="email" placeholder="Email" required>
            </fieldset><br>

            <fieldset class="input-wrapper">
                <i class="fas fa-lock form-icons"></i>
                <input id="password" type="password" name="password" placeholder="Password" minlength="8"  required><br>
            </fieldset>

            <button type="submit">Submit</button>
        </form>
        <p>Already a member? <span class="login"><a href="/login">Login</a></span></p>
    </div>

</div>
