    <link rel="stylesheet" type="text/css" href="<%= url("/css/sass/index_styles.css") %>"/>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="#learn-more">Learn More</a></li>
        </ul>
    </nav>
</header>

<section class="section-a">
    <div class="logo-area">
        <img src="/images/gummy_notes.png" alt="logo">
    </div>
    <h2 class="tag">Digitally Sticky</h2>
    <div class="action-btns">
        <a href="/signup" class="i-btn">Sign Up</a>
        <a href="/login" class="i-btn">Login</a>
    </div>
</section>

<section id="learn-more" class="section-b">
    <div class="create learn-item">
        <h2><i class="fas fa-pen" style="color: #03ccf0;"></i><br>Create</h2>
        <p>Create a To-do Gummy Note(or a To-Don't-Do Gummy Note). Have an idea for a project? Well, create some gummy notes to help you get that idead up and running!</p>
    </div>
    <div class="accomplish learn-item">
        <h2><i class="fas fa-check" style="color: #fc6fe4;"></i><br>Accomplish</h2>
        <p>To-Don't-Do notes work hand in hand with your To-do notes to make sure you stay focused on what you need to do. You can also color coordinate your notes, each color representing a specific purpose. For example, <span class="pink">Pink</span> = To-Do, and <span class="blue">Blue</span>= To-Don't-Do(etc)</p>
    </div>
    <div class="crumble learn-item">
        <h2><i class="fas fa-trash-alt" style="color: #98e203;"></i><br>Crumble</h2>
        <p>Finished creating and accomplishing a To-do? Great! Just crumble it up and throw it away... Not literally silly, but you can delete a note. Once you delete a note it gets stored temporarily into your trash can so that you can always restore it, just in case. You can permanently delete a note by emptying your trash can.</p>
    </div>
</section>
